{% extends 'base.html' %} {% block content %} {% load static %}
<main class="bg-gradient-to-b from-cyan-700">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen w-full"
  >
    {% if weather.cod and weather.cod == '404' %}
    <div
      id="alert-2"
      class="flex p-4 mb-4 text-orange-800 rounded-lg bg-red-50"
      role="alert"
    >
      <svg
        aria-hidden="true"
        class="flex-shrink-0 w-5 h-5"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
          clip-rule="evenodd"
        ></path>
      </svg>
      <span class="sr-only">Info</span>
      <div class="ml-3 text-sm font-medium">
        Şehir sistemde bulunamadı !
        <a href="" class="font-semibold underline">Geri dön</a>
      </div>
    </div>
    {% else %}
    <div
      class="card bg-gradient-to-t from-cyan-200 to-white text-cyan-600 flex flex-col justify-center items-center mt-10 rounded p-4 min-w-[340px] w-min"
    >
      <h1 class="text-2xl tracking-wider font-bold">
        {{weather.city}} &middot {{weather.country}}
      </h1>
      <h1 class="text-2xl tracking-wide">
        {{weather.weather.description|title}}
      </h1>
      <img
        src="{% static 'weather-icons/'|add:weather.weather.icon|add:'.png' %}"
        class="w-[150px]"
        alt="weather-icon"
      />
      <h1 class="text-5xl font-bold mb-2">
        {{weather.temp.tempCel}}&deg;
        <span class="text-xl">({{weather.temp.tempCelFeel}}&deg;)</span>
      </h1>
    </div>
    <div
      class="card bg-gradient-to-t from-gray-600 to-white text-cyan-600 flex flex-col justify-center items-center mt-10 rounded p-4 min-w-[340px] w-min"
    >
      <h1 class="text-2xl tracking-wider font-bold">
        {{weather.city}} &middot {{weather.country}}
      </h1>
      <h1 class="text-2xl tracking-wide">Rüzgar</h1>
      <img
        src="{% static 'weather-icons/windy.png' %}"
        class="w-[150px]"
        alt="weather-icon"
      />
      <h1 class="text-5xl font-bold mb-2 text-white">
        {{weather.wind.speedH}}
        <span class="text-3xl">({{weather.wind.deg}}&deg;)</span>
      </h1>
    </div>
    {% endif %}
  </div>
</main>
{% endblock content %}
