{% load static %}
<header class="fixed top-0 z-30 w-full shadow-xl">
  <nav class="px-4 lg:px-6 py-2.5 bg-orange-800">
    <div class="flex flex-wrap justify-between items-center mx-auto">
      <a href="{% url 'index' %}" class="flex items-center">
        <img
          src="{% static 'sun.png' %}"
          class="mr-3 h-9 sm:h-12"
          width="100%"
          alt="weatherApp-logo"
        />
        <span
          class="self-center text-lg font-semibold whitespace-nowrap text-white"
          >Hava Durumu
        </span>
      </a>
      <div class="space-x-1 text-white">
        <span>{{location}}</span>
        <span>{{weather.main.tempCel}}°</span>
      </div>
    </div>
  </nav>
</header>
